@page "/groups"
@attribute [Authorize]
@using BlazeQuartz.Core.Models
@inject UserGroupService UserGroupService
@inject MudBlazor.IDialogService DialogService
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Groups</PageTitle>

<MudCard>
    <MudCardContent>
        <MudTable T="UserGroup"
                  Dense="true"
                  Hover="true"
                  RowsPerPage="@rowsPerPage"
                  RowsPerPageOptions="new int[] { 5, 10, 20, 50 }"
                  @ref="table"
                  ServerData="LoadServerData">

            <ToolBarContent>
                <div style="display: flex; align-items: center; width: 100%;">
                    <MudText Typo="Typo.h4" Style="white-space: nowrap; margin-right: 16px;">Group List</MudText>
                    <MudSpacer />
                    <div style="width: 100%; max-width: 400px; display: flex; gap: 8px;">
                        <MudTextField T="string"
                                      @bind-Value="searchTerm"
                                      Placeholder="Search group..."
                                      Adornment="Adornment.Start"
                                      AdornmentIcon="Icons.Material.Filled.Search"
                                      Immediate="true"
                                      TextChanged="@(e => OnSearchChanged())"
                                      Style="flex: 1;" />
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.Add"
                                   OnClick="OpenCreateDialog">
                            Create Group
                        </MudButton>
                    </div>
                </div>
            </ToolBarContent>


            <HeaderContent>
                <MudTh Style="width: 80px; text-align: center; white-space: nowrap;">ID</MudTh>
                <MudTh Style="text-align: center; white-space: nowrap;">Group Name</MudTh>
                <MudTh Style="text-align: center; white-space: nowrap;">Members</MudTh>
                <MudTh Style="width: 120px; text-align: center; white-space: nowrap;"></MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd Style="text-align: center;">@context.ID</MudTd>
                <MudTd Style="text-align: center;">@context.GROUP_NAME</MudTd>
                <MudTd Style="text-align: center;">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary"
                               StartIcon="@Icons.Rounded.Search"
                               OnClick="()=>OpenViewMemberDialog(context)">
                        View members
                    </MudButton>
                </MudTd>
                <MudTd Style="display: flex; flex-direction: row; gap: 8px; justify-content: center;">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="() => OpenEditDialog(context)" />
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="() => ConfirmDeleteGroup(context)" />
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText>No users found</MudText>
            </NoRecordsContent>
            <LoadingContent>
                <MudText>Loading...</MudText>
            </LoadingContent>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudCardContent>
</MudCard>
